{% include 'head.html' %}
{% include 'menu.html' %}
{% load tools %}

    <div class="container">
      <div class="content">
        
        <h2>{{ software.label }}</h2><br>

      <table width=100% cellpadding=5 cellspacing=5>
        
        <tr>
            <td width=125>Label</td>
            <td>{{ software.label }}</td>
        </tr>
        
        <tr>
            <td>Enabled</td>
            <td>{{ software.enabled }}</td>
        </tr>
        
        <tr>
            <td><hr>URL</td>
            <td><hr><a href='{{ software.url}}'>{{ software.url }}</a></td>
        </tr>
        
        <tr>
            <td>Pattern</td>
            <td>{{ software.pattern }}</td>
        </tr>
        
        <tr>
            <td>Post Data</td>
            <td>
                {% if software.post_data %}
                    {{ software.post_data}}
                {% endif %}
            </td>
        </tr>
        
        <tr>
            <td>Post Value</td>
            <td>
                {% if software.post_value %}
                    {{ software.post_value}}
                {% endif %}
            </td>
        </tr>
        
        <tr>
            <td valign=top><hr>Releases</td>
            <td><hr>{% for release in software.releases.all %}{{ release }}<br>{% endfor %}</td>
        </tr>
            
        <tr>
          <td><hr>Version</td>
          <td><hr>{{ software.version }}</td>
        </tr>

        
        <tr>
            <td><hr>Assigned</td>
            {% if software.assigned %}
              <td><hr>{{ software.assigned }}
                {% if user.is_authenticated %}
                {% if user.is_staff %}
                  <a href="{% url unassign_view software.id %}"><i class=icon-remove></i></a>
                {% endif %}
                {% endif %}
              </td>
              
            {% else %}
              <td><hr>
                {% if user.is_authenticated %}
                {% if user.is_staff %}
                  <a href="{% url assign_view software.id %}"><i class=icon-plus></i></a>
                {% endif %}
                {% endif %}
              </td>
            {% endif %}
        </tr>
  
        <tr>
          <td>Ticket</td>
          {% if software.ticket %}  
            <td><a href='{{ software.ticket }}'>{{ software.ticket }}</a></td>
          {% else %}
            <td></td>
          {% endif %}
      </tr>
        
        <tr>
            <td valign='top'><hr>Notes</td>
            <td valign='top'><hr>{% if software.notes %}
              <pre>{{ software.notes }}</pre>
              {% endif %}
            </td>
        </tr>
        
        <hr>
        
        <tr>
            <td valign='top'><hr>Logs</td>
            <td><hr>{% if software.logs %}
              <pre>{{ software.logs }}</pre>
              {% endif %}
            </td>
        </tr>
        
        
        <tr>
            <td><hr>Created</td>
            <td><hr>{{ software.created }}</td>
        </tr>
        
        <tr>
            <td>Modified</td>
            <td>{{ software.modified }}</td>
        </tr>
        
      </table>
      
      <hr>
      <table width=100% cellpadding=5 cellspacing=5 class="table table-striped" id="table">
        <tr>
          <td><b>Logs</b></td>
          <td><b>Stable</b></td>
          {% if not settings.DISABLE_TESTING %}
            <td><b>Testing</b></td>
          {% endif %}
          {% if not settings.DISABLE_DEVELOPMENT %}
            <td><b>Development</b></td>
          {% endif %}
          <td><b>Upstream </b></td>
          <td><b>Release</b></td>
          <td><b>Status</b></td>
          </tr>
        
          {% for release in software.releases.all %}
            {% if software.enabled %}
            <tr>
              
              <!-- LOG ICON -->
              <td>
                <a href='{% url ourversion_view software.id release.id %}'> <i class=icon-book></i></a>
              </td>
              
              <!-- STABLE VERSION -->   
              <td>
              {% for key, value in software.ourversion_set.all|get_ourversion:release %}
                {% if key == 'stable_version' %}
                  {% if value %}
                    {{ value }}
                  {% endif %}
                {% endif %}
              {% endfor %}
              </td>
              
              <!-- TESTING VERSION -->
              {% if not settings.DISABLE_TESTING %}
              <td>
              {% for key, value in software.ourversion_set.all|get_ourversion:release %}
                {% if key == 'testing_version' %}
                  {% if value %}
                    {{ value }}
                  {% endif %}
                {% endif %}
              {% endfor %}
              </td>
              {% endif %}

              <!-- DEVELOPMENT VERSION -->
              {% if not settings.DISABLE_DEVELOPMENT %}
              <td>
              {% for key, value in software.ourversion_set.all|get_ourversion:release %}
                {% if key == 'development_version' %}
                  {% if value %}
                    {{ value }}
                  {% endif %}
                {% endif %}
              {% endfor %}
              </td>
              {% endif %}
              
              <!-- UPSTREAM VERSION -->
              <td>
                  {{ software.version }}
              </td>
              
              <!-- RELEASE TAG -->
              <td>{{ release.label }} </td>

                <!-- STATUS AREA -->
                <td><font color='{{ software.ourversion_set.all|get_status_color:release }}'>
                    {{ software.ourversion_set.all|get_status_text:release }}</font>
                </td>
              
            </tr>
          {% endif %}
          {% endfor %}
            
      </table>
      
      {% if user.is_authenticated %}
      {% if user.is_staff %}
      <hr>
      <a class="btn btn-primary" href="{% url admin:index %}software_versions/software/{{ software.id }}/">
        <i class="icon-pencil icon-white"></i> Update</a>
      {% endif %}
      {% endif %}
      
      
      </div>
    </div>

{% include 'foot.html' %}
